<footer>
    <div class="row">
        <div class="col-3 col-sm">
            <b class="title">Redes Sociais</b>
            <div class="iconFooter">
                <a href="#"><i class="fab fa-facebook"></i></a>
                <a href="#" style="color: #fff"><i class="fab fa-linkedin"></i></a>
            </div>
           
        </div>        
    </div>
</footer>