<li  data-toggle="collapse" data-target="#ajuda" class="collapsed" id="{{ id }}">
    <a href="#"><i class="{{ classIcon }}"></i>{{ title }}<span class="{{ icon }}"><i class="fa fa-angle-down"></i></span></a>
</li>
<ul class="sub-menu collapse" id="ajuda">
    @!component('site.components.menuSubItens', id='titleSubItens', classIcon='fa fa-angle-right',title='Cozinha')
</ul>
</ul>