<div id={{ id }}>
    <nav class="navbar navbar-dark bg-dark">
        <a class="navbar-brand" href="#"><h1>{{ title }}</h1></a>
        <a class="iconLogin" href="{{ route('users.index') }}"><i class="fas fa-user-lock" title="Login"> <div></div></i></a>
    </nav>
</div>